* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  color: #FF0000;
}

img,
video {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
}



