* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  color: #FF0000;
}

img,
video {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 136px;
}

a {
  padding: 10 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #FF0000;
  border-radius: 100px;
}
span {
  color:black;
}
