* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  color: #FF0000;
}

img,
video {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 136px;
  margin: 50px 50px;
}

a {
  padding: 10 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #FF0000;
  border-radius: 100px;
  font-weight: 600;
}

span {
  color:black;
  font-weight: 400;
}

.hover {
  color: white;
  background-color: #FF0000;
}
